.mh-200 {
  min-height: 200px;
}

.carousel-label {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 5vw;
  padding: 1rem 2rem;
  background-color: rgba(255,255,255, .5);
  border-radius: .2rem;
  backdrop-filter: blur(10px);
}

.logo {
  &__container {

    img {
      height: 12vh;
    }
  }
}