<div id="carouselExampleCaptions" class="carousel slide mh-200" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleCaptions" attr.data-bs-slide-to="{{idx}}" [ngClass]="{ 'active': idx === 0 }" attr.aria-current="{{ idx === 0 }}" attr.aria-label="Slide {{ idx + 1 }}" *ngFor="let carouselItem of carouselArray; let idx = index"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item" *ngFor="let carouselItem of carouselArray; let idx = index" [ngClass]="{ 'active': idx === 0 }">
			<img [src]="carouselItem.imgSrc" class="d-block w-100" alt="...">
			<!--			<div class="carousel-label d-none d-md-block">-->
			<!--&lt;!&ndash;				<span class="logo__container"><img src="assets/logo/logo-hand.jpg" alt=""></span>&ndash;&gt;-->
			<!--&lt;!&ndash;				<span>{{ carouselItem.title }}</span>&ndash;&gt;-->
			<!--			</div>-->
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
