<div class="container min-height mt-5">
	<form [formGroup]="authForm" (ngSubmit)="submit()">
		<div class="form-group mt-2">
			<label for="email">Email</label>
			<input class="form-control" name="email" formControlName="email" id="email">
			<ng-template [ngIf]="authForm.controls['email'].invalid && authForm.controls['email'].touched">
				<div class="alert-danger">Некорректный email</div>
			</ng-template>
		</div>
		<div class="form-group mt-2">
			<label for="password">Password</label>
			<input class="form-control" name="password" formControlName="password" id="password">
		</div>
		<div class="form-group mt-2">
			<button [disabled]="authForm.invalid" class="btn btn-primary buy-btn d-flex align-items-center"><span class="">Авторизация</span></button>
		</div>
	</form>
</div>