<div class="footer mt-4 bg-dark">
	<div class="container py-4">
		<div class="row">
			<div class="col-lg-4 text-white">
				<div class="footer__head mt-4">
					Контакты
				</div>
				<hr class="line">
				<div class="ft-content">
					<div class="ft-content__item d-flex align-items-center">
						<img class="bi d-block icon__img ft-content__icon" width="20" height="20" src="assets/icons/contacts/map.png">
						<a href="{{ contacts.location.position }}" class="link-light ft-content__link" target="_blank">{{ contacts.location.address }}</a>
					</div>
					<div class="ft-content__item d-flex align-items-center">
						<img class="bi d-block icon__img ft-content__icon" width="20" height="20" src="assets/icons/contacts/phone.png">
						<a href="tel:{{ contacts.phone }}" class="link-light ft-content__link">{{ contacts.phone }}</a>
					</div>
					<div class="ft-content__item d-flex align-items-center">
						<img class="bi d-block icon__img ft-content__icon" width="20" height="20" src="assets/icons/contacts/email.png">
						<a href="mailto:{{ contacts.email }}" class="link-light ft-content__link">{{ contacts.email }}</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-white">
				<div class="footer__head mt-4">
					Важная информация
				</div>
				<hr class="line">
				<div class="ft-content">
					<div class="ft-content__item d-flex align-items-center">
						<a routerLink="about" class="link-light ft-content__link">О нас</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-white">
				<div class="footer__head mt-4">
					Подпишись
				</div>
				<hr class="line">
				<div class="ft-content">
					<div class="ft-content__item d-flex align-items-center" *ngFor="let item of socialMedia">
						<img class="bi d-block icon__img ft-content__icon" width="20" height="20" src="{{ item.icon }}">
						<a href="{{ item.url }}" class="link-light ft-content__link" target="_blank">{{ item.name }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>