.footer {

  &__head {
    font-size: 1.1rem;
    letter-spacing: .02rem;
  }
}

.ft-content {

  &__link {
    text-decoration: none;
    transition: .5s ease-in-out;
  }

  &__item {
    margin-top: 1rem;
    transition: .5s ease-in-out;

    &:hover {
      transform: translateY(-.1rem);

      .ft-content__link {
        color: #ababd0;
      }

      .ft-content__icon {
        filter: invert(80%);
      }
    }
  }

  &__icon {
    margin-right: .6rem;
    filter: invert(100%);
  }
}

.line {
  margin: 0;
  color: #605f5f;
}