<div class="container min-height">
	<h3 class="my-4 text-center">Доставка и оплата</h3>
	<p>Для оформления заказа вы можете связаться с нами по номеру:
		<a href="tel:{{ contacts.phone }}">{{ contacts.phone }}</a>.</p>
	<p>Либо написать нам на почту:
		<a href="mailto:{{ contacts.email }}" class="ft-content__link">{{ contacts.email }}</a></p>
	<div class="location my-4">
		<p>Забрать заказ вы можете здесь:</p>
		<iframe class="location__iframe" [src]=" contacts.location.iframePosition | safe" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab delectus excepturi expedita harum, iure maiores nobis nulla provident qui tenetur? Asperiores atque culpa dolorum enim iste neque repellendus reprehenderit, sit!</p>
	<p>
		<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deserunt dolore dolorum iusto possimus quisquam reiciendis tempore vitae. Consectetur consequuntur cupiditate dolores excepturi id officia provident, quasi quis reprehenderit soluta.</span><span>Accusamus amet beatae culpa deserunt dignissimos excepturi in inventore minima nesciunt nulla placeat quaerat quidem quis quisquam, sequi temporibus unde veritatis. Aperiam commodi ducimus error, fuga sint ullam vel velit!</span><span>Accusamus accusantium cum cupiditate eveniet perferendis. Accusamus consectetur excepturi ipsum iste nisi obcaecati pariatur provident similique ullam voluptatibus? Assumenda aut id laboriosam, nisi quas repellat veritatis! Atque eveniet sequi similique!</span>
	</p>
</div>