<div class="container my-4">
	<h3 class="text-center my-5">Список брендов</h3>
	<div class="portals">
		<a href="{{ item.link }}" class="portal__item" *ngFor="let item of brands" appBackground [hoverBackground]="item.imgSrc">
			<img class="portal__logo" src="{{ item.logoSrc }}" alt="">
		</a>
	</div>
</div>