.portals {
  display: grid;
}

.portal {
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    border-radius: 0.25rem;
    text-decoration: none;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    min-height: 120px;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(191,191,244,1) 0%, rgba(3,114,136,1) 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: all .5s ease-in-out;
  }
  &__logo {
    object-fit: contain;
    height: 60px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .portals {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .portals {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .portals {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}



@media (min-width: 1200px) {
  .portals {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
  }
}
