<header class="header" #merchandiseWindow (window:resize)="getHeaderHeight()">
	<div class="px-3 py-2">
		<div class="container d-flex flex-wrap justify-content-center">
<!--			форма для поиска, пока не активна-->
			<form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
				<input type="search" class="form-control" placeholder="Search..." aria-label="Search">
			</form>
			<div class="login-container">
				<a *ngIf="!this.authService.isAuth" routerLink="admin-panel" class="nav-link">Авторизация</a>
				<span *ngIf="this.authService.isAuth">{{ this.authService.user.user }}</span>
				<a *ngIf="this.authService.isAuth" routerLink="admin-panel" class="nav-link ml-1">admin panel</a>
			</div>
		</div>
	</div>
	<div class="px-3 py-2 text-black border-bottom">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a routerLink="" [queryParams]="null" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-black text-decoration-none logo__container">
					<img src="assets/logo/logo2.png" alt="logo" class="logo__img">
				</a>

				<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
					<li class="nav__item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
						<a routerLink="" class="nav-link">
							<img class="bi d-block mx-auto mb-1 icon__img" width="24" height="24" src="assets/icons/home.png">
							Главная
						</a>
					</li>
					<li>
						<span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img class="bi d-block mx-auto mb-1 icon__img" width="24" height="24" src="assets/icons/shopping-bag.png">
							Ассортимент
						</span>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li routerLinkActive="dropdown__active-link" [routerLinkActiveOptions]="{exact: true}">
								<a class="dropdown-item" routerLink="assortment">Весь ассортимент</a></li>
							<hr class="my-1">
							<li routerLinkActive="dropdown__active-link" *ngFor="let item of typesOfClothing">
								<a class="dropdown-item" [routerLink]="['assortment']" [queryParams]="{ type: item.name }">{{ item.name }}</a>
							</li>
						</ul>
					</li>
					<li class="nav__item" routerLinkActive="active-link">
						<a routerLink="order" class="nav-link">
							<img class="bi d-block mx-auto mb-1 icon__img" width="24" height="24" src="assets/icons/buy.png">
							Заказать
						</a>
					</li>
					<li class="nav__item" routerLinkActive="active-link">
						<a routerLink="contacts" class="nav-link">
							<img class="bi d-block mx-auto mb-1 icon__img" width="24" height="24" src="assets/icons/contact-mail.png">
							Контакты
						</a>
					</li>
					<li class="nav__item" routerLinkActive="active-link">
						<a routerLink="return" class="nav-link">
							<img class="bi d-block mx-auto mb-1 icon__img" width="24" height="24" src="assets/icons/product-return.png">
							Гарантия и возврат
						</a>
					</li>
					<li class="nav__item" routerLinkActive="active-link">
						<a routerLink="about" class="nav-link">
							<img class="bi d-block mx-auto mb-1 icon__img" width="24" height="24" src="assets/icons/user.png">
							О нас
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>