.header {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(191,191,244,1) 0%, rgba(3,114,136,1) 100%);
}

.nav-link {
  color: white;
}

.nav {

  &__item {
    transition: .3s ease-in-out;
  }

  &__item:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.55);
    border-radius: .5rem;
  }

  .active-link:hover {
    transform: none;
    box-shadow: none;
  }
}

.active-link {

  .nav-link {
    color: #b4b0b0;
  }

  .icon__img {
    filter: invert(70%);
  }
}

.logo {

  &__container {
    height: 64px;
    background-color: white;
    transform: translateY(40px);
    z-index: 3;
  }

  &__img {
    padding: .3rem;
    height: 100%;
  }
}

.icon__img {
  filter: invert(100%);
}

@media (max-width: 991.9px) {

  .logo__container {
    transform: none;
  }
}