<div class="container min-height mt-4">
	<form [formGroup]="newMerchForm" (ngSubmit)="submit()">
		<div class="mt-2">
			<div>
				<label for="type">Тип одежды</label>
			</div>
			<p-dropdown formControlName="type" id="type" [options]="typesOfClothing" optionLabel="name"></p-dropdown>
<!--			<ng-template [ngIf]="newMerch.controls['typeOfClothing'].invalid && newMerch.controls['typeOfClothing'].touched">-->
<!--				<div class="alert-danger">Не может быть пустым</div>-->
<!--			</ng-template>-->
		</div>
		<div class="mt-2">
			<label for="title">Название</label>
			<input type="text" class="form-control" id="title" placeholder="Title" formControlName="title" pInputText>
		</div>
		<div class="mt-2">
			<label for="brand">Брэнд</label>
			<input type="text" class="form-control" id="brand" placeholder="Brand" formControlName="brand" pInputText>
		</div>
		<app-img-downloader (fileChanged)="imgChanged($event)" [clearDescription]="clearEvent"></app-img-downloader>
		<div class="mt-2">
			<label for="description">Описание</label>
			<textarea type="text" class="form-control" id="description" placeholder="Description" formControlName="description" pInputText></textarea>
		</div>
		<div class="mt-2">
			<label for="price">Цена</label>
			<input type="number" class="form-control" id="price" placeholder="Price" formControlName="price" pInputText>
		</div>
		<div class="mt-2">
			<div>
				<label for="gender">Гендер</label>
			</div>
			<p-dropdown formControlName="gender" id="gender" [options]="genders"></p-dropdown>
		</div>
		<div class="mt-2">
			<div>
				<label for="size">Размер</label>
			</div>
			<p-dropdown formControlName="size" id="size" [options]="sizes" optionLabel="name"></p-dropdown>
		</div>
<!--		<div class="form-group mt-2">-->
<!--			<label for="isSale">Со скидкой</label>-->
<!--			<input type="checkbox" class="" id="isSale" formControlName="isSale">-->
<!--		</div>-->
<!--		<div class="form-group mt-2">-->
<!--			<label>Размер скидки</label>-->
<!--			<input type="text" class="form-control" id="discount" placeholder="Discount" formControlName="discount">-->
<!--		</div>-->

		<div class="mt-2">
			<button class="btn btn-primary buy-btn d-flex align-items-center" [disabled]="!newMerchForm.valid"><span class="">Создать товар</span></button>
		</div>
	</form>
</div>
