<div class="card w-100 mb-2 position-relative">
	<ng-container *ngIf="true">
		<div class="position-absolute top-0 end-0">
			<button type="button" class="btn btn-outline-danger btn-sm ms-1" (click)="deleteItem()">x</button>
		</div>
	</ng-container>
	<img [src]="serverUrl + '/public/' + item.imgSrc[0]" class="card-img-top card__img" alt="...">
	<div class="card-body d-flex flex-column">
		<hr class="my-1 text-secondary">
		<h5 class="card-title">{{ item.title }}</h5>
		<p class="card-text">{{ item.description.length > 60 ? ( item.description | slice:0:60 ) + '...' : item.description }}</p>
		<p class="mt-auto text-end">{{ item.price.toString() | spaceAfterFirstLetter}}&#x20bd;</p>
		<a [routerLink]="['merchandise', item._id,]" queryParamsHandling="merge" class="btn btn-primary" (click)="scrollTo()">Подробнее</a>
	</div>
</div>