<div id="carouselExampleDark" class="carousel slide merchandise-carousel" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item" data-bs-interval="10000" *ngFor="let img of currentMerch.imgSrc; let idx = index" [ngClass]="{ 'active': idx === 0 }">
			<img [src]="serverUrl + '/public/' + img" class="d-block w-100 merchandise-carousel__img" alt="...">
		</div>
	</div>
	<div class="d-flex flex-wrap">
		<div data-bs-target="#carouselExampleDark" class="slide-item" attr.data-bs-slide-to="{{idx}}" attr.aria-current="{{ idx === 0 }}" attr.aria-label="Slide {{ idx + 1 }}" *ngFor="let img of currentMerch.imgSrc; let idx = index">
			<img [src]="serverUrl + '/public/' + img" class="slide-item__img" alt="...">
		</div>
	</div>
</div>
