.merchandise-carousel {

  &__img {
    height: 500px;
    object-fit: contain;
  }
}

.slide-item {
  border: 1px solid #ded9d9;
  border-radius: .5rem;
  overflow: hidden;
  cursor: pointer;
  margin: .5rem;

  &__img {
    height: 80px;
    width: 80px;
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .slide-item {
    margin: .2rem;

    &__img {
      height: 70px;
      width: 70px;
    }
  }
}