<div>
	<span>Всего найдено: {{ assortmentArray.length }} товаров.</span>
	<hr class="my-4">
</div>
<div class="row">
	<app-assortment-product-item *ngFor="let item of assortmentArray" [item]="item" class="col-12 col-md-6 col-xl-4 d-flex align-items-stretch"></app-assortment-product-item>
</div>
