
<div class="modal-header">
	<h4 class="modal-title pull-left">Modal</h4>
	<button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bSModalRef.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	</button>
</div>
<div class="modal-body">
	<ng-template [ngIf]="status === 'loading'">
		<app-spinner class="d-flex justify-content-center"></app-spinner>
	</ng-template>
	<ng-template [ngIf]="status === 'complete'">
		<p>Ваш заказ оформлен, наши специалисты с вами свяжутся.</p>
	</ng-template>
	<ng-template [ngIf]="status === 'error'">
		<p>Чт от пошло не так. Пожалуйста попробуйте позже, либо свяжитесь с нами по контактным данным.</p>
	</ng-template>

</div>

