<div class="accordion" id="accordionPanelsStayOpenExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="panelsStayOpen-headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
				Брэнды
			</button>
		</h2>
		<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
			<div class="accordion-body" [@formCheckAnimations]="brand.length">
				<!--				checked disabled-->
				<div class="form-check" *ngFor="let item of brand; let i = index">
					<input class="form-check-input" type="checkbox" [value]="item.title" id="flexCheckBrands{{i}}" [checked]="isChecked(item.title, 'brand')" (click)="toggleCheckBox(item.title, 'brand')">
					<label class="form-check-label" for="flexCheckBrands{{i}}">
						{{ item.title | brandTitle }} ({{ item.count }})
					</label>
				</div>

			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
				Категории
			</button>
		</h2>
		<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
			<div class="accordion-body" [@formCheckAnimations]="type.length">
				<div class="form-check" *ngFor="let item of type; let i = index">
					<input class="form-check-input" type="checkbox" [value]="item.title" id="flexCheckTypes{{i}}" [checked]="isChecked(item.title, 'type')" (click)="toggleCheckBox(item.title, 'type')">
					<label class="form-check-label" for="flexCheckTypes{{i}}">
						{{ item.title | typeTitle }} ({{ item.count }})
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="panelsStayOpen-headingThree">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
				Гендер
			</button>
		</h2>
		<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
			<div class="accordion-body" [@formCheckAnimations]="gender.length">
				<div class="form-check" *ngFor="let item of gender; let i = index">
					<input class="form-check-input" type="checkbox" [value]="item.title" id="flexCheckGenders{{i}}" [checked]="isChecked(item.title, 'gender')" (click)="toggleCheckBox(item.title, 'gender')">
					<label class="form-check-label" for="flexCheckGenders{{i}}">
						{{ item.title | genderTitle }} ({{ item.count }})
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="panelsStayOpen-headingFour">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseFour">
				Размеры
			</button>
		</h2>
		<div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
			<div class="accordion-body" [@formCheckAnimations]="sizes.length">
				<div class="form-check" *ngFor="let item of sizes; let i = index">
					<input class="form-check-input" type="checkbox" [value]="item.title" id="flexCheckSizes{{i}}" [checked]="isChecked(item.title, 'size')" (click)="toggleCheckBox(item.title, 'size')">
					<label class="form-check-label" for="flexCheckSizes{{i}}">
						{{ item.title }} ({{ item.count }})
					</label>
				</div>
			</div>
		</div>
	</div>
</div>