<div class="min-height mt-5">
	<div class="container">
		<div class="card">
			<p-tabView>
				<p-tabPanel [cache]="false" header="Создать одежду">
					<app-create-new-product></app-create-new-product>
				</p-tabPanel>
				<p-tabPanel [cache]="false" header="Создать размер">
					<app-create-size></app-create-size>
				</p-tabPanel>
				<p-tabPanel [cache]="false" header="Создать тип одежды">
					<app-create-clothing-type></app-create-clothing-type>
				</p-tabPanel>
			</p-tabView>
		</div>
	</div>
</div>