<app-header [typesOfClothing]="stateService.typesOfClothing"></app-header>
<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<main [@fadeAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">
	<router-outlet #outlet="outlet"></router-outlet>
</main>
<app-footer></app-footer>
