<div class="container min-height mt-4">
	<div>
		<h6>Все размеры</h6>
		<ul>
			<li class="p-2" *ngFor="let size of allSizes">
				<ng-container *ngIf="!isCanEdit(size._id); else editButtons">
					<button type="button" class="btn btn-outline-warning btn-sm" (click)="edit(size._id, true)">Edit</button>
					<button type="button" class="btn btn-outline-danger btn-sm ms-1" (click)="confirmDelete(size._id)">x</button>
				</ng-container>
				<ng-template #editButtons>
					<button type="button" class="btn btn-outline-warning btn-sm" (click)="edit(size._id, false)">Cancel</button>
					<button type="button" class="btn btn-outline-success btn-sm ms-1" (click)="confirmUpdate(size._id, editInput.value)">Confirm</button>
				</ng-template>

				<input pInputText class="ms-1" [value]="size.name" [disabled]="!isCanEdit(size._id)" #editInput>
			</li>

		</ul>
	</div>
	<form [formGroup]="sizeForm" (ngSubmit)="submit()">
		<div class="mt-2">
			<label for="title">Название Размера</label>
			<input type="text" class="form-control" id="title" placeholder="Title" formControlName="name" pInputText>
		</div>
		<div class="mt-2">
			<button class="btn btn-primary buy-btn d-flex align-items-center" [disabled]="!sizeForm.valid">
				<span class="">Создать размер</span>
			</button>
		</div>
	</form>
</div>