.merchandise {
  position: relative;

  &__close-btn {
    position: absolute;
    top: 6px;
    right: 16px;
  }

}
.buy-btn {
  align-self: center;
}
.buy-btn__text {
  margin-left: 1rem;
}
.buy-btn__icon {
  width: 22px;
  filter: invert(100%);
}