<div class="merchandise row">
	<ng-container *ngIf="currentMerch">
		<div class="col-md-6">
			<app-merchandise-carousel [currentMerch]="currentMerch"></app-merchandise-carousel>
		</div>
		<div class="col-md-6 d-flex flex-column">
			<div class="merchandise__title d-flex justify-content-between align-items-center">
				<h2>{{ currentMerch?.title }}</h2>
				<button type="button" class="btn-close merchandise__close-btn" aria-label="Close" routerLink="./../../" queryParamsHandling="merge"></button>
			</div>
			<hr>
			<p>{{ currentMerch?.description }}</p>

			<form [formGroup]="userForm" (ngSubmit)="submit()">
				<div class="form-group mt-2">
					<label for="userName">Имя</label>
					<input class="form-control" formControlName="userName" name="userName" id="userName">
					<ng-template [ngIf]="userForm.controls['userName'].invalid && userForm.controls['userName'].touched">
						<div class="alert-danger">Не может быть пустым</div>
					</ng-template>
				</div>
				<div class="form-group mt-2">
					<label for="userPhone">Телефон</label>
					<input class="form-control" name="userPhone" formControlName="userPhone" id="userPhone">
					<ng-template [ngIf]="userForm.controls['userPhone'].invalid && userForm.controls['userPhone'].touched">
						<div class="alert-danger">Некорректный номер телефона</div>
					</ng-template>
				</div>
				<div class="form-group mt-2">
					<label for="userComments">Пожелания (как с вами связаться).</label>
					<input class="form-control" name="userComments" formControlName="userComments" id="userComments">
					<ng-template [ngIf]="userForm.controls['userComments'].invalid && userForm.controls['userComments'].touched">
						<div class="alert-danger">Максимальная длина не более 100 символов. Сейчас {{ userForm.controls['userComments'].value.length }}</div>
					</ng-template>
				</div>
				<div class="form-group mt-2">
					<button [disabled]="userForm.invalid || isNotAvailableSubmit" class="btn btn-primary buy-btn d-flex align-items-center"><span class="">Оформить заказ</span></button>
				</div>
			</form>
			<hr>
			<div class="form-group">
				<a href="https://t.me/iamgleshe" target="_blank" class="btn btn-primary"><img class="buy-btn__icon" src="../../../../../assets/icons/social/telegram.png"><span class="buy-btn__text">Написать в telegram</span></a>
			</div>
		</div>
	</ng-container>
</div>
