<div class="container min-height mt-4">
	<div>
		<h6>Все Типы одежды</h6>
		<ul>
			<li class="p-2" *ngFor="let type of allTypes">
<!--				<button type="button" class="btn btn-outline-warning btn-sm" (click)="edit(size)">Edit</button>-->
				<button type="button" class="btn btn-outline-danger btn-sm ms-1" (click)="confirmDelete(type._id)">x</button>
				<span class="ms-1">Наименование: {{type.name}}</span>
			</li>

		</ul>
	</div>
	<form [formGroup]="newTypeOfClothingForm" (ngSubmit)="submit()">

		<div class="mt-2">
			<label for="title">Название Типа одежды</label>
			<input type="text" class="form-control" id="title" placeholder="Title" formControlName="name" pInputText>
		</div>

		<div class="mt-2">
			<button class="btn btn-primary buy-btn d-flex align-items-center" [disabled]="!newTypeOfClothingForm.valid"><span class="">Создать товар</span></button>
		</div>
	</form>
</div>