<div class="container mt-4">
	<div class="row">
		<h1 class="text-center my-4">Мы предлагаем</h1>
		<div class="col-12 col-md-6 mt-4 d-flex justify-content-center align-items-center" *ngIf="loading">
			<div class="spinner-border" role="status">
				<span class="sr-only"></span>
			</div>
		</div>
		<a [routerLink]="card.link" [queryParams]="{ type: card.type }" class="col-md-6 col-lg-3 mt-4" *ngFor="let card of mainGoodsCardsArray">
			<app-product-item [card]="card"></app-product-item>
		</a>
		<div class="col-12 col-md-6 mt-4">
			<div class="card text-white d-flex justify-content-center align-items-center bg-dark">
				<h3>Stock & Vintage</h3>
				<p>New items drop every week</p>
				<p>Worldwide shipping</p>
			</div>
		</div>
	</div>
</div>