.card {
  overflow: hidden;
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  height: 400px;

  img {
    object-fit: cover;
    height: 100%;
  }
}

.shading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(1,1,1, 0.3);
  transition: opacity .3s ease-in-out;
}

h4 {
  transition: .3s ease-in-out background-color;
  padding: 0 .4rem;
  border-radius: .25rem;
}

.card--hover:hover {
  transform: scale(1.05);
  box-shadow: none;

  .shading {
    opacity: 0;
  }

  h4 {
    background: rgba(1,1,1, 0.3);
  }
}