<div class="min-height">
	<app-carousel></app-carousel>
	<app-products></app-products>
<!--	<app-brand-list></app-brand-list>-->
	<div class="container">
		<p class="mt-5 about">
			<strong>Lesotho Promise</strong>&nbsp;&mdash; винтажный проект. Наша команда отбирает лучшие мировые бренды тщательно и&nbsp;вручную. Можешь быть уверен все вещи 100% оригинальные, так как перед тем как попасть в&nbsp;каталог они проходят полный <abbr title="Процесс проверки одежды/обуви на оригинальность">legit check</abbr>. Мы&nbsp;хотим показать что можно одеваться стильно, выделяться из&nbsp;толпы эксклюзивом и&nbsp;при этом сэкономить огромные суммы. Постоянно добавляем новые позиции. На&nbsp;данный момент действует доставка по&nbsp;Петербургу. В&nbsp;ближайшее время планируется открытие шоу-румов. Отправки в&nbsp;любую точку мира.
		</p>
	</div>
</div>
