<div class="card card--hover text-white">
	<img [src]="card.imgSrc" class="card-img" alt="...">
	<div class="shading"></div>
	<div class="card-img-overlay d-flex align-items-center justify-content-center">
		<h4 class="card-title">{{ card.title }}</h4>
	</div>
</div>
