<div class="container min-height my-4">
	<div [@wrapperTransition]="prepareRoute(outlet)" class="router-wrapper">
		<router-outlet #outlet="outlet"></router-outlet>
	</div>
	<div class="row my-5">
		<aside class="col-sm-4">
			<app-aside-nav></app-aside-nav>
		</aside>
		<div class="col-sm-8">
			<div class="text-center" *ngIf="loading; else list">
				<app-spinner></app-spinner>
			</div>
			<ng-template #list>
				<app-assortment-products-list [assortmentArray]="assortmentArray"></app-assortment-products-list>
				<app-pagination></app-pagination>
			</ng-template>

		</div>
	</div>

</div>

