<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center" #pagination>
		<li class="page-item" (click)="togglePageLink($event)" [ngClass]="{ 'disabled' : currentPage === 1 }"><a class="page-link">Назад</a></li>

		<li class="page-item" (click)="togglePageLink($event)" *ngFor="let listItem of pageCount; index as idx" [ngClass]="{'active' : idx + 1 === currentPage}"><a class="page-link">{{ idx + 1 }}</a></li>

		<li class="page-item" (click)="togglePageLink($event)" [ngClass]="{ 'disabled' : currentPage === pageCount.length }"><a class="page-link">Вперед</a></li>
	</ul>
</nav>